@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');



a{
    text-decoration: none;
    color: black;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo {
    flex: 5;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo h1{
    font-family: 'Rubik Puddles', cursive;
    font-size: 50px;
}


.bar-description{
    flex: 4
}

.bar-description h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.pet-project-cells{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.pet-project-cell{
    margin: 3rem;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid #dedede;
    width: 300px;
    max-width: 70%;
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.pet-project-cell-photo{
    background-color: #fcfcfc;
    border-radius: 20px;

    width: inherit;
    max-width: 70%;
    height: inherit;

    
    font-family: 'Quicksand', sans-serif;
}

.pet-project-cell-photo img{
    height: inherit;
    width: inherit;
    max-width: 100%;
    border-radius: 10px;
}

.pet-project-cell-description{
    font-family: 'Roboto Mono', monospace;
    min-width: 100%;
    padding-left: 20px;
    text-align: left;
}

.interests-cells{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.interests-cells-batch{
    margin-right: 8rem;
}

.interests-cell{
    align-self: left;
    justify-self: left;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}

.interests-cell h4{
    
    margin-bottom: 10px;
    color: grey;
}

.languages-cells{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.languages-cells-batch{
    margin-right: 26rem;
}

.languages-cell{
    align-self: left;
    justify-self: left;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}

.languages-cell h4{
    
    margin-bottom: 10px;
    color: grey;
}

.activities-cells {
    
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.activities-cell {
    margin: 3rem;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid #dedede;
    width: 500px;
    max-width: 70%;
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column; 
}

.activities-cell h4{
    margin-bottom: 10px;
    color: grey;
}

.activities-cell-photo{
    background-color: #fcfcfc;
    border-radius: 20px;
    max-width: 70%;
    

    width: inherit ;
    height: inherit;

    
    font-family: 'Quicksand', sans-serif;
}

.activities-cell-photo img{
    height: inherit;
    width: inherit;
    max-width: 100%;
    border-radius: 10px;
}

.activities-cell-description{
    font-family: 'Roboto Mono', monospace;
    min-width: 100%;
    padding-left: 20px;
    text-align: left;
}

.section-header{
    font-family: 'Bebas Neue', cursive;
}

.footer{
	margin-top: 1rem;
  	margin-bottom: 2rem;
  	position: fixed;
  	bottom: 0;
  	min-width: 100%;
	max-width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.links {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.link img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.move-menu{
    position: fixed;
    left: 0;
    bottom: 30%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}

.move-menu button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.move-menu button:hover {
    transition-delay: 0.1s;
    transition-property: background-color;
    background-color: #f0f6ff;
}

.interests{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 856px) {
    .move-menu{
        display: none;
    }
}

@media screen and (min-width: 856px) and (max-width: 894px){
    .move-menu{
        margin-left: 0rem;
    }
}

@media screen and (min-width: 894px) and (max-width: 930px){
    .move-menu{
        margin-left: 1rem;
    }
}

@media screen and (min-width: 930px) and (max-width: 1000px){
    .move-menu{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 620px){
    .logo{
        margin-left: 0px;
    }

    .nav-bar{
        flex-direction: column;
    }
}

@media screen and (max-width: 545px){
    .languages-cells-batch{
        margin-right: 20rem;
    }
}

@media screen and (max-width: 460px){
    .languages-cells-batch{
        margin-right: 16rem;
    }
}

@media screen and (max-width: 390px){
    .languages-cells-batch{
        margin-right: 12rem;
    }
}

@media screen and (max-width: 320px){
    .languages-cells-batch{
        margin-right: 8rem;
    }
}

@media screen and (max-width: 355px){
    .bar-description h2{
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }
}

@media screen and (max-width: 271px){
    .bar-description h2{
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){
    .links {
        margin-right: 1rem;
    }
}